<div class="row">
	<h1><%= @title %></h1>
	<% @books.each do |book|%>
		<div class="col-sm-6 col-md-3">
		  <%= link_to (image_tag book.image.url(:medium)), book, class: 'image', title: book.titulo ,data:{toggle: 'tooltip', placement: 'right'} %>
		</div>
	<% end %>
  	<div class="col-md-12 apple_pagination">
    	<%= will_paginate @books, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
	</div>
</div>


